.container{
  width: 100%;
  max-width: 960px;
  margin-inline: auto;                 /* <-- центрирование */
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

/* показываем mobile-вариант до 750px */
.mobile { display: block; }
.desktop { display: none; }

@media (min-width: 750px) {
  .container { gap: 32px; }
  .mobile { display: none; }
  .desktop { display: block; }
}

@media (min-width: 900px) {
  .container { 
    gap: 40px; 
    margin-top: 40px;
  }
}
