.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 600px) {
  .container{
    width: 450px;
}
}

@media (min-width: 600px) {
  .container{
    width: 630px;
}
}