.label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.errorText{
    color: #FF383C;
    font-size: 12px;
    line-height: 1;
    margin-left: 8px;
}

.sup{
    color: #6C757D;
    font-size: 12px;
    font-weight: 400;
}

.inputError{
    outline: 1px solid #FF383C;
}

.input{
    color: #212529;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder{
  color: #6C757D;
  font-size: 14px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
}