.container{
    max-width: 400px;
    background-color: #F8F9FA;
    border-radius: 28px;
    padding: 40px;
}

.title{
    font-size: 24px;
    color: #343A40;
    margin-bottom: 8px;
    font-weight: 600;
}

.text{
    color: #495057;
    font-size: 16px;
}

.tv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-bottom: 49px;
}

@media (min-width: 775px) {

    .container{
        max-width: 305px;
    }

}

@media (min-width: 775px) and (max-width: 1440px) {

    .container{
        max-width: 521px;
    }

}