.container{
    max-width: 400px;
}

.card{
    border-radius: 20px;
    padding: 40px;
}
.container h2{
    text-align: center;
    color: #212529;
    margin-bottom: 40px;
    font-size: 40px;
}

.dark{
    fill: #343A40;
}

.title{
 color: #343A40;
 font-size: 24px;
 margin-top: 16px;
 margin-bottom: 12px;
}

.text{
    color: #495057;
    font-size: 16px;
    margin-bottom: 80px;
}

@media (min-width: 775px) {

    .container{
        max-width: 412px;
    }

}

@media (min-width: 775px) and (max-width: 1440px){

    .container{
        max-width: 521px;
    }

}