.container{
    max-width: 400px;
}

.card{
    border-radius: 20px;
    padding: 40px;
}
.container h2{
    text-align: center;
    color: #212529;
    margin-bottom: 40px;
    font-size: 40px;
}

.dark{
    fill: #343A40;
}

.title{
 color: #343A40;
 font-size: 24px;
 margin-top: 16px;
 font-weight: 600;
 margin-bottom: 12px;
}

.text{
    color: #495057;
    font-size: 16px;
    margin-bottom: 80px;
}

.add{
    background-color: #F8F9FA;
}

.donate{
    background-color: #F3ECFE;
}

.improve{
    background-color: #E4E6FF;
}

    .cards{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

@media (min-width: 1440px) {

    .container{
        max-width: 846px;
    }

    .card{
        max-width: 414px;
        flex: 1 1 0; 
    }

    .cards{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: stretch;
    }

    .add{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}

@media (min-width: 775px) and (max-width: 1440px){

    .container{
        max-width: 521px;
    }

}