.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #495057;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}

.title{
    margin-bottom: 8px;
    margin-top: 60px;
    font-size: 40px;

}

.textareablock{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textareablock textarea {
  flex: 1;
  min-height: 120px; 
  font-weight: 400;  
}


.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 4px;
}

.formcontainer{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: stretch;
}

.formitem{
    /* width: 373px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formitem,
.textareablock {
    flex: 1;             /* обе колонки занимают равную ширину и одинаковую высоту */
}

.terms{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 393px;
    flex-wrap: wrap;
}

.text{
    font-size: 16px;
    color: #495057;
    margin-bottom: 40px;
}

.termslabel{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #495057;
    font-size: 14px;
    font-weight: 400;
}

.termslabel{
    display: flex;
    align-items: first baseline;
    gap: 8px;
}

.termslabel p {
  margin: 0;             /* чтобы лишние отступы не съезжали верстку */
  line-height: 1.4;      /* по вкусу */
}

.termslink{
    
    color: #660FF2;
}
.red, .errorValidate{
    color: #FF383C;
}

.termslabel p {
  margin: 0;
  line-height: 1;
}

.agreeblock{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.errorValidate{
    font-size: 12px;
    font-weight: 600;
}

.error{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 930px){
    .formcontainer{
        flex-direction: column;
    }
    .title{
        margin-top: 20px;
        font-size: 36px;
    }
    .terms{
        flex: 0 0 auto;
    }

}

@media(max-width: 480px){
    .textareablock, .formitem{
        width: 100%;
        padding: 0 8px;
    }


}