.container{
    display: flex;
    flex-direction: column;align-items: center;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #495057;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}

.textareablock{
    width: 373px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formcontainer{
    display: flex;
    width: 100%;
    gap: 20px;
}

.formitem{
    width: 373px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

