.container{
  width: 100%;
  max-width: 846px;
  margin: 0 auto;
  background: #fff;
}

/* по умолчанию – desktop */
.desktop { display: block; }
.tablet  { display: none; }
.mobile  { display: none; }

/* планшет 641–1024px */
@media (max-width: 1024px){
  .desktop { display: none; }
  .tablet  { display: block; }
}

/* мобильный ≤ 640px */
@media (max-width: 640px){
  .tablet  { display: none; }
  .mobile  { display: block; }
}
