.wrap { 
  position: relative; 
  width: 100%;
  margin-bottom: 28px;
}

.triggerWrap{
  position: relative;
  display: inline-block; /* чтобы ширина тянулась по кнопке */
}

.chips { 
  display:flex; 
  flex-wrap:wrap; 
  gap:8px; 
  font-size: 14px;
}

.chip {
  display: flex;
  gap: 8px;
  height: 36px;
  align-items: center;
  padding: 8px 20px;
  border:1px solid #CED4DA;
  border-radius: 80px; 
  cursor:pointer;
  transition: border-color 300ms ease, background-color 300ms ease;
}

.close { margin-left:6px; opacity:.7; }

.cross{
  fill: #6C757D;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 300ms ease;
}
.trigger {
  width: 184px;
  height: 36px;
  background:#fff; border:1px solid #cbd5e1; color:#343A40;
  padding:8px 20px; 
  border-radius: 80px; 
  font-size: 14px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border-color 300ms ease, background-color 300ms ease;
}

.trigger:hover, .trigger:focus-visible, .chip:hover, .chip:focus{
  border-color: #660FF2;
  background-color: #F3ECFE;
  color: #660FF2;
}
.trigger.active {
  border-color: #660FF2;
  background-color: #F3ECFE;
  color: #660FF2;
}
.chip:hover .cross use, .chip:focus .cross use{
  fill: #660FF2;
}

.menu {
  position:absolute;  
  z-index:50;
  top: calc(100% + 8px);
  left: 0;
  width:184px;
  max-height: 272px;
  background:#fff; 
  border:1px solid #e5e7eb; 
  border-radius:12px;
  overflow: hidden;
}

.input {
  width:184px; 
  padding-left: 36px;
  padding-right: 29px;
  height: 44px;
  border:1px solid #e5e7eb;
  border-radius:8px; 
  outline:none;
  border: none;
    font-size: 14px;
}

.input::placeholder{
  font-size: 14px;
}
.list { 
  width:184px;
  padding:0; 
  list-style:none; 
  max-height:260px; 
  overflow-y:auto;
  scrollbar-width:none;   
  border-radius: 0 0 8px 8px;   /* Firefox */
  -ms-overflow-style:none; 
}

.item {
  width:100%; 
  text-align:left; 
  padding: 12px 20px;
  height: 44px;
  border-top: 1px solid #CED4DA;
  background:transparent; 
  cursor:pointer; 
  color:#111827; 

}
.item:hover, .item:focus-visible { background:#F3ECFE; }

.empty { padding:10px; color:#6b7280; font-size:14px; }
.clear { margin-top:6px; background:transparent; border:none; color:#6b7280; cursor:pointer; }


.image use {
  fill: #660FF2;
}

.inputLabel {
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
}

.clear{
  font-size: 16px;
  font-weight: 600;
  color: #212529;
  border-bottom: 1px solid transparent;
  transition: border-color 300ms ease;
}

.clear:hover, .clear:focus {
  border-color: #660FF2;
}
