body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-open-sans), sans-serif;
  color: #495057;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-open-sans), sans-serif;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4{
  font-family: var(--font-open-sans-condensed), sans-serif;
  line-height: 1.1;
  color: #343A40;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}
button{
  border: none;
  background-color: transparent;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

textarea, input{
  padding: 12px 20px;
  border: none;
  outline: 1px solid #CED4DA;
  transition: 200ms ease-in-out border-color, 200ms ease-in-out background-color;
}

textarea{
  resize: none;
  height: 136px;
}

input{
  height: 44px;
}

textarea:hover, input:hover{
  background-color: #F3ECFE;
  outline: 1px solid #9051F6;
}

input,
textarea,
[contenteditable] {
  caret-color: #660FF2;   
  border-radius: 8px;
  width: 100%;
}

textarea:focus, input:focus{
  background-color: #Fff;
  outline: 1px solid #9051F6;
}

input::placeholder, texarea::placeholder{
    font-size: 14px;
    color: #6C757D;
    font-weight: 400;
}

label {
  position: relative;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
}
.hidden {
  display: none;
}
button,
select {
  cursor: pointer;
}
button{
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
section {
  padding-top: 80px;
  padding-bottom: 120px;
}
option:first-child {
  border-radius: 8px 8px 0 0;
}

option:last-child {
  border-radius: 0 0 8px 8px;
}
link, a{
    text-decoration: none;
}
link, a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms ease;
}
link:hover, link:focus{
    border-color: #660FF2;
}


.no-scroll {
  overflow: hidden;
}


@media (max-width:380px){
  section{
    padding: 48px 10px;
  }
}

@media (max-width:750px){
  section{
    padding: 48px 20px;
  }
}

@media (max-width:1440px){
  section{
    padding: 80px 20px;
  }
}
