.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100%;
}

.headtext{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 0;
}
.headtext h2{
    font-size: 24px;
    color: #212529;
}
.wraphead{
    display: flex;
    gap: 8px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #495057;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.recently{
    width: 138px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    color: #660FF2;
    background-color: #F3ECFE;
    font-size: 14px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media(min-width: 480px){
    .container{
        max-width: 480px;
    }

}

@media (min-width: 775px) {

    .head{
        flex-direction: row;
        justify-content: space-between;
    }

}

@media(min-width: 1440px){
    .container{
        max-width: 846px;
    }
}