.title{
    font-size: 24px;
    color: #343A40;
    margin-bottom: 8px;
}

.text{
    color: #495057;
    font-size: 16px;
}
.form, .label{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.form{
    margin-top: 40px;
}
.label{
    width: 100%;
    font-size: 16px;
    color: #495057;
    font-weight: 600;
}

.texarea{
    resize: none;
    width: 100%;
    height: 112px;
    border-radius: 8px;
    margin-top: 8px;
}

