.title{
    font-size: 24px;
    color: #343A40;
    margin-bottom: 8px;
    font-weight: 600;
}
.comment{
    max-width: 400px;
    background-color: #F3ECFE;
    border-radius: 28px;
    padding: 40px;
}
.text{
    color: #495057;
    font-size: 16px;
}
.form, .label{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.form{
    margin-top: 40px;
}
.label{
    gap: 8px;
    width: 100%;
    font-size: 16px;
    color: #495057;
    font-weight: 600;
}
.bloctextarea{
    margin-top: 20px;
    margin-bottom: 20px;
}

.textarea{
    resize: none;
    width: 100%;
    height: 112px;
    border-radius: 8px;
    font-size: 14px;
    color: #6C757D;
    font-weight: 400;
}


@media (min-width: 775px) {

    .comment{
        max-width: 521px;
    }

}


