.filters{
    width: 75vw;
    margin-top: 16px;
    margin-bottom: 28px;
}
.wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  color: #495057;
  user-select: none;
}

/* прячем настоящий чекбокс */
.checkboxInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;

}

/* квадрат */



@media (min-width: 750px){
  .filters {
    width: 630px;
  }
}