.filters{
    width: 75vw;
    margin-top: 16px;
    margin-bottom: 28px;
}
.wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  color: #495057;
  user-select: none;
}

/* прячем настоящий чекбокс */
.checkboxInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;

}

/* квадрат */
.checkboxCustom {
  width: 15px;
  height: 15px;
  border: 2px solid #660FF2;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  background-color: transparent;
  transition: all 0.2s ease;
}

/* когда чекнутый */
.checkboxInput:checked + .checkboxCustom {
  background: #660FF2;
  border-color: #660FF2;
}

.checkboxInput:checked + .checkboxCustom::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


@media (min-width: 750px){
  .filters {
    width: 630px;
  }
}