.idiomslist{
    display: flex;
    flex-direction: column;
}

.idiomoitems{
    display: flex;
    border-bottom: solid 1px #DEE2E6;
}

.titleblock{
    display: flex;
    gap: 8px ;
    align-items: baseline;
    margin-bottom: 16px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    color: #212529;
}

.button{
    padding: 4px;
    border: none;
    height: 18px;
    width: 18px;
    background-color: transparent;
    fill: #495057;
}
.block{
    margin-bottom: 14px;
    line-height: 1.4;
}
.blocktitle{
    margin-bottom: 4px;
    color: #6C757D;
    font-size: 14px;
}
.violet{
    color: #9051F6;
}
.readmore{
    width: 112px;
    height: 20px;
    padding: 4px 2px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #9051F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px transparent;
    transition: border 300ms ease;
}

.readmore:hover, .readmore:focus {
    border-bottom: solid 2px #9051F6;
}
@media (max-width: 750px) {

    .idiomoitems{
        width: 100%;
        max-width: 400px;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }
}

@media (min-width: 750px) {
    .idiomoitems{
        gap: 120px;
        padding: 40px 0;
        justify-content: space-between;
        align-items: end;
    }
    .wrapperright{
        width: 398px;
    }
}