/* Блокировка скролла, добавляем на body при открытой модалке */
.body--no-scroll {
  overflow: hidden;
}

/* Базовый контейнер модалки */
.modal {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Затемнение фона */
.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(33, 37, 41, 0.4);
}

/* Диалог */
.dialog {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 12px;
  padding: 32px;
  max-width: 500px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Крестик */
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}


.modal__body {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}



/* Адаптация под мобильные */
@media (max-width: 600px) {
  .modal {
    align-items: flex-end; /* модалка “всплывает” снизу */
  }

  .dialog {
    border-radius: 12px 12px 0 0;
    max-width: 100%;
    width: 100%;
    max-height: 80vh;
    padding: 20px 16px 16px;
  }

}


@media (min-width: 750px) {

  .close {
    top: 32px;
    right: 32px;
  }
}