/* Блокировка скролла, добавляем на body при открытой модалке */
.body--no-scroll {
  overflow: hidden;
}

/* Базовый контейнер модалки */
.modal {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  
}

/* Затемнение фона */
.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(33, 37, 41, 0.4);
}

/* Диалог */
.dialog {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  max-height: 90vh;

  /* ДОБАВИТЬ: */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* чтобы скролл был только у .content */
}




/* Крестик */
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 111;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  fill: #495057;
  transition: background-color 200ms ease-in-out, fill 200ms ease-in-out;
  border-radius: 50%;
  padding: 4px;
}


.modal__body {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.close:focus{
    background-color: #F3ECFE;
    fill: #660FF2;
}

.close:hover{
    fill: #000;
}

.icon{
    transform: rotate(45deg);
}


@media (max-width: 380px){
    .modal{
        padding: 25px 10px;
    }
}
/* Адаптация под мобильные */
@media (max-width: 600px) {

  .dialog {
    max-width: 100%;
    width: 100%;
    padding: 20px 16px 16px;
  }
}


@media (min-width: 750px) {

  .close {
    top: 32px;
    right: 32px;
  }

  .modal{
    padding: 50px;

  }
}