.block{
    margin-top: 48px;
}

.title{
    font-size: 18px;
    color: #6C757D;
    margin-bottom: 8px;
}

.list{
    max-width: 100%;
    padding-left: 1.25rem;        /* аккуратные маркеры */
    margin: 0;
    list-style-position: outside; 
}
.item{
    list-style: disc;
}

.violet{
    color: #660FF2;
    border: 1px solid transparent;
    transition: border-color 300ms ease-in-out;
}

.violet:hover .link, .violet:focus .link{
    outline: none;
    border-bottom: 1px solid #660FF2;
}