.block{
    margin-top: 48px;
}

.title{
    font-size: 18px;
    color: #6C757D;
}

.list{
    max-width: 100%;
    padding-left: 1.25rem;        /* аккуратные маркеры */
    margin: 0;
    list-style-position: outside; 
}
.item{
    list-style: disc;
}

.violet{
    color: #660FF2;
}