
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #ced4da;}

.logo {
  width: 100px;
  height: 35px;
}

nav {
  display: flex;
  gap: 48px;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sign {
  display: flex;
  gap: 8px;
}

@media (max-width: 775px){
.disactive{
  opacity: 0;
}
.active{
  opacity: 1;
}
.button{
  background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}
.header {
  padding: 12px 20px;
}
}
@media (min-width: 776px){
  .button{
    display: none;
  }
  .header {
    padding: 12px 80px;
  }
}

