.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #ced4da;
  padding: 12px 80px;
}

.logo {
  width: 100px;
  height: 35px;
}

nav {
  display: flex;
  gap: 48px;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sign {
  display: flex;
  gap: 8px;
}
