.checkboxInput {
    position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* твой “квадратик” */
.checkboxCustom {
  width: 16px;
  height: 16px;
  border: 2px solid #660ff2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 2px 1px;
  position: relative;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* сам svg */
.checkboxIcon {
  opacity: 0;              /* по умолчанию спрятан */
  transition: opacity 0.2s ease;
}

/* когда чекнутый – заливаем фон */
.checkboxInput:checked + .checkboxCustom {
  background: #660ff2;
  border-color: #660ff2;
}

/* и показываем svg сверху */
.checkboxInput:checked + .checkboxCustom .checkboxIcon {
  opacity: 1;
  /* если надо белый чек – в спрайте или тут через fill */
  color: #fff;
  stroke: #fff;
}
