
  .footer{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    color: #6C757D;
    font-size: 12px;
    border-top: 1px solid #ced4da;
  }
  .logo{
    display: block;
    aspect-ratio: 96 / 36;
  }
  .footer a {
    color: inherit;
  }
  .wrap{
    display: flex;
    justify-content: space-between;
    
  }
  .wrap ul{
    flex-shrink: 0;
  }
  .link:hover{
    border-bottom: 1px solid #660FF2;

  }

@media(max-with: 380px) {
  .footer{
    padding: 10px;
  }
}

@media(min-with: 480px) {
  .footer{
    padding: 20px;
  }
}


@media(min-width: 750px) {
  .footer{
    padding: 20px 80px;
  }
}

  @media (max-width: 750px){
    .footer{
      flex-direction: column;
      gap: 16px;
    }
    .wrap{
      width: 100%;
    }
    .logo {
      height: 31px;
    }
    .wrapperpriv{
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-right: 75px;
    }
    .wrapper{
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 750px) {
    .footer{
      justify-content: space-between;
    }
    .logo {
      height: 28px;
      margin-right: 283px;
    }
    .wrap{
      width: 30%;
    }
    .wrapper, .wrapperpriv{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }