.search {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #6c757d;
  }
  .form-select {
    position: relative;
    display: flex;
  }
  
  .input {
    padding-left: 39px;
    border-radius: 8px 0 0 8px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .input,
  .select,
  .option {
    vertical-align: middle;
    height: 36px;
    border: none;
    outline: 1px solid #ced4da;
    font-size: 16px;
  }
  .select {
    border-radius: 0 8px 8px 0;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    pointer-events: none;
    z-index: 3;
  }
  @media(max-width:400px){
    .select {
      width: 76px;
    }

  }
  @media (max-width: 480px) {
    .input{
      width: 48vw;
    }
   
  }
  @media (min-width: 481px){
    .select {
      width: 110px;
    }
  }