.sortWrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.sortPrefix {
  color: #343A40; 
  font-size: 14px;
}

.sortBtn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  padding: 4px 6px;
  font-weight: 600;
  color: #343A40;
  cursor: pointer;
  outline: none;
}
.sortBtn:focus-visible {
  border-radius: 8px;
  box-shadow: 0 0 0 3px rgba(59,130,246,.35);
}

.sortValue { 
  letter-spacing: .2px; 
}

.sortChevron {
  transition: transform .15s ease;
  display: inline-block;
  transform: rotate(0deg);
}
.sortChevronOpen { transform: rotate(180deg); }

/* выпадающее меню */
.sortMenu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;                   /* если надо выровнять по правому краю: right:0; left:auto; */
  width: 126px;
  margin: 0;
  list-style: none;
  border: 1px solid #CED4DA; /* gray-200 */
  border-radius: 12px;
  z-index: 50;
  overflow: hidden;
}

.sortMenu > li {
  width: 126px;
  height: 36px;
  text-align: left;
  padding: 8px 20px;
  border-top: 1px solid #CED4DA; 
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #212529;
  font-size: 14px;
}

.sortMenu > li:first-child{
 border: none;
}

.sortItem::first-letter{
  border: none;
}
.sortMenu > li:hover,
.sortMenu > li:focus-visible { background: #F3ECFE; } 

