.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px ;
    margin-bottom: 48px;
    
}

.cross{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE9E7;
    border-radius: 50%;
}
.image{
        transform: rotate(45deg);
}
.crossimg{
    fill:#FF383C;
}

@media (min-width: 776px) {
    .main {
        margin-top: 80px ;
        margin-bottom: 80px;
    }
}

