.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 10px;
}

@media (min-width: 480px) {
    .main{
        padding: 48px 20px;
    }
}
@media (min-width: 776px) {
    .main {
        margin-top: 80px ;
        margin-bottom: 80px;
    }
}

