.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px ;
    margin-bottom: 48px;
}

@media (min-width: 776px) {
    .main {
        margin-top: 80px ;
        margin-bottom: 80px;
    }
}

