.nav{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 16px;
    color: #495057;
    margin-bottom: 24px ;
}
.link{
    text-decoration: none;
}
.link{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms ease;
}
.link:hover, .link:focus{
    border-color: #660FF2;
}
.sep{
    transform: rotate(270deg);
    color: #495057;
    margin-right: 8px;
    margin-left: 8px;
}

.plate{
    fill: inherit;
}

@media (max-width: 390px) {
    .nav{
        padding: 0 5px;
    }
}