.notFound{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    color: #495057;
    font-size: 16px;
}

.cross{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE9E7;
    border-radius: 50%;
}

.crossimg{
    fill:#FF383C;
}

.errorname{
    margin-bottom: 12px;
    color: #343A40;
    font-size: 40px;
}