.inputWrap {
  position: relative;
}

.input {
  padding-left: 44px;
  padding-right: 40px;
}

.search {
  position: absolute;
  top: 16px;
  left: 20px;
}

/* крестик/плюс */
.clear {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.clearIcon {
  transform: rotate(45deg); /* из плюсика делаем крестик */
}

/* стрелка */
.arrow {
  position:absolute; right:10px; top:24px;
  transform: translateY(-50%) rotate(0deg);
  width:12px; height:12px; pointer-events:none; transition: transform 300ms ease;
}

.arrowOpen {
  transform: translateY(-50%) rotate(180deg); /* вверх */
}
