.inputWrap {
  position: relative;
}

.list {
  position: absolute;
  top: calc(100% + 8px); /* сразу под инпутом, с маленьким отступом */
  left: 0;
  width: 100%;
  margin: 0;            /* можно без margin, чтобы top работал предсказуемо */
  padding: 4px 0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-height: 240px;
  overflow-y: auto;
  z-index: 20;
}

.search{
    position: absolute;
    top: 16px;
    left: 20px;
}

.input{
    padding-left: 44px;
}

.clearIcon{
  transform: rotate(45deg);
  fill: #6b7280;
}