.inputWrap {
  position: relative;
}

.input {
  padding-left: 44px;
  padding-right: 40px;
  margin-bottom: 8px;
}

.search {
  position: absolute;
  top: 16px;
  left: 20px;
}

/* крестик/плюс */
.clear {
  position: absolute;
  top: 26px;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.clearIcon {
  transform: rotate(45deg); 
  fill: #495057;
  transition: fill 300ms ease-in-out;
}

.clearIcon:hover{
  fill: #212529;
}
.list{
  position: absolute;
  z-index: 111;
  width: 100%;
  top: calc(100% + 8px);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 259px;
  outline: solid 1px #CED4DA;
  font-weight: 400;
  font-size: 14px;
}
.item{
  appearance:none; border:none; outline:1px solid #CED4DA;
  background:#fff; color:#101828;
  height:44px; padding: 12px 20px; font-size:16px;
  display:inline-flex; align-items:center; gap:8px; cursor:pointer;
}
.item:focus-visible{ outline:none; box-shadow:0 0 0 3px rgba(102,15,242,.25); }

.item:hover{
  background-color: #F3ECFE;
  outline: 1px solid #9051F6;
}

/* стрелка */
.arrow {
  position:absolute; right:10px; top:16px;
  transform:  rotate(0deg);
  width:12px; height:12px; pointer-events:none; transition: transform 300ms ease;
}

.arrowOpen {
  transform:  rotate(180deg); /* вверх */
}

.errorText{
    color: #FF383C;
    font-size: 12px;
    line-height: 1;
    margin-left: 8px;
}

.inputError{
    outline: 1px solid #FF383C;
}
