.inputWrap {
  position: relative;
}

.input {
  padding-left: 44px;
  padding-right: 40px;
}

.search {
  position: absolute;
  top: 16px;
  left: 20px;
}

/* крестик/плюс */
.clear {
  position: absolute;
  top: 26px;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.clearIcon {
  transform: rotate(45deg); 
  fill: #495057;
  transition: fill 300ms ease-in-out;
}

.clearIcon:hover{
  fill: #212529;
}
.list{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.item{
  appearance:none; border:none; outline:1px solid #CED4DA;
  background:#fff; color:#101828;
  height:42px; padding:0 28px 0 12px; font-size:16px;
  display:inline-flex; align-items:center; gap:8px; cursor:pointer;
}
.item:focus-visible{ outline:none; box-shadow:0 0 0 3px rgba(102,15,242,.25); }

.item:hover{
  background-color: #F3ECFE;
  outline: 1px solid #9051F6;
}

/* стрелка */
.arrow {
  position:absolute; right:10px; top:16px;
  transform:  rotate(0deg);
  width:12px; height:12px; pointer-events:none; transition: transform 300ms ease;
}

.arrowOpen {
  transform:  rotate(180deg); /* вверх */
}
