.done{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.titledone{
    margin-bottom: 8px;
    font-size: 40px;
    color: #343A40;
}

.text{
    margin-bottom: 40px;
    color: #495057;
}

.check{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #660FF2;
    background-color: #F3ECFE;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 40px;
}