.done{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.titledone{
    margin-bottom: 8px;
    font-size: 40px;
    color: #343A40;
}

.text{
    margin-bottom: 40px;
    color: #495057;
}